src/__pycache__/SyntaxTree.cpython-310.pyc
src/AlgebraObjects/__pycache__/SPRJUD.cpython-310.pyc
src/AlgebraObjects/__pycache__/Attribute.cpython-310.pyc
src/AlgebraObjects/__pycache__/Relation.cpython-310.pyc
src/AlgebraObjects/__pycache__/SPRJUD.cpython-310.pyc
src/__pycache__/file.cpython-310.pyc
src/__pycache__/database.cpython-311.pyc
src/__pycache__/file.cpython-311.pyc
src/__pycache__/request.cpython-311.pyc
src/__pycache__/FileException.cpython-311.pyc
src/__pycache__/syntax.cpython-311.pyc
src/__pycache__/SyntaxTree.cpython-311.pyc