src/__pycache__/SyntaxTree.cpython-310.pyc
src/AlgebraObjects/__pycache__/SPRJUD.cpython-310.pyc
src/AlgebraObjects/__pycache__/Attribute.cpython-310.pyc
src/AlgebraObjects/__pycache__/Relation.cpython-310.pyc
src/AlgebraObjects/__pycache__/SPRJUD.cpython-310.pyc
src/__pycache__/file.cpython-310.pyc